@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.6%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.6%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.6%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 9.0%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.6%;
    --primary: 0 0% 9.0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9.0%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 89% 48%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.6%;
    --foreground: 0 0% 98.2%;
    --card: 0 0% 3.6%;
    --card-foreground: 0 0% 98.2%;
    --popover: 0 0% 3.6%;
    --popover-foreground: 0 0% 98.2%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 98.2%;
    --accent-foreground: 0 0% 9.0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98.2%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --primary: 0 0% 98.2%;
    --primary-foreground: 0 0% 9.0%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98.2%;
    --chart-1: 220 13% 91%;
    --chart-2: 217 32% 17%;
    --chart-3: 212 35% 21%;
    --chart-4: 212 14% 29%;
    --chart-5: 212 15% 26%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
